# Git ignore file 
# Python virtual environment
venv/
.venv/

# Jupyter Notebook checkpoint files
.ipynb_checkpoints/

# PyCharm/VS Code project files
.idea/
.vscode/

# Compiled Python files
__pycache__/
*.pyc

# Operating System files
.DS_Store
Thumbs.db
